.top {
  background-image: url(./../../images/common/bg_visual.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.top-secondary {
  background-image: url(./../../images/sp/img_ttlback_sp.png);
  background-size: cover;
  background-position: center center;
  height: 200px;
}
